{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PICTURE</title>
    <script src="{% static "jquery.js" %}"></script>
    <link href="{% static "dist/dropzone.css" %}" rel="stylesheet">
    <link href="{% static "dist/basic.css" %}" rel="stylesheet">
    <script src="{% static "dist/dropzone.js" %}" type="text/javascript"></script>
    <script src="{% static "dist/dropzone-amd-module.js" %}" type="text/javascript"></script>
</head>
<body>
<h3 style="text-align: center">Cервис загрузки картинок на сервер</h3>
<div style="width: 60%; text-align: center; margin: auto; margin-top: 20px;">
    <form action="http://127.0.0.1:8000/api/images/" method="post" enctype="multipart/form-data">
        <div id="dZUpload" class="dropzone">
            <div class="dz-default dz-message"></div>
            <input type="file" name="file" multiple/>
        </div>
        <input style="margin-top: 30px" type="submit" name="Отправить"/>
    </form>
</div>
<footer style="text-align: center; margin-top: 50px;">©Mazur Gleb</footer>
</body>
<script>
    $(document).ready(function () {
        Dropzone.autoDiscover = false;
        $("#dZUpload").dropzone({
            url: "",
            addRemoveLinks: true,
            success: function (file, response) {
                var imgName = response;
                file.previewElement.classList.add("dz-success");
                console.log("Successfully uploaded :" + imgName);
            },
            error: function (file, response) {
                file.previewElement.classList.add("dz-error");
            }
        });
    });
</script>
</html>